pip~=23.2
pdoc3~=0.10.0
flake8~=6.0.0
matplotlib~=3.7.2
pandas~=2.0.3
python-dateutil~=2.8.2
fredapi~=0.5.0
source_engine@ git+ssh://git@github.com/Donner-Reuschel-Luxemburg-S-A/source-engine.git@1.6.0
python-pptx~=0.6.21
pypiwin32
numpy~=1.25.1
Pillow~=10.0.0
SQLAlchemy~=2.0.18